<section class="account-list" style="margin-top: 30px;">
   <div class="container">
      <div class="box">
         <div class="box-title">
            Change Password
         </div>
         <div class="box-body">
            <form action="/account/useraccount/changepassword" method="POST" id="ChanePasswordAccount" novalidate="novalidate">
              
               <div class="form-horizontal" style="margin-right: 10%">
                  <div class="row">
                     <div class="col-md-offset-3 col-md-4">
                     </div>
                  </div>
                  <div class="form-group">
                     <label class="control-label col-md-3" for="AccountId">Account ID</label>
                     <div class="col-md-4">
                        <input class="form-control text-box single-line" data-val="true" data-val-number="The field AccountId must be a number." data-val-required="The AccountId field is required." id="AccountId" name="AccountId" readonly="readonly" type="number" value="{{AccountID}}">
                        <span class="field-validation-valid text-danger" data-valmsg-for="AccountId" data-valmsg-replace="true"></span>
                     </div>
                  </div>
                  <div class="form-group">
                     <label class="control-label col-md-3" for="UserPassword">User Password</label>
                     <div class="col-md-4">
                        <input class="form-control "  name="password" type="password" value="">
                        
                     </div>
                  </div>
                  <div class="form-group">
                     <label class="control-label col-md-3" for="NewPassword">New Account Password</label>
                     <div class="col-md-4">
                        <input class="form-control " type="password" name="repeat_password">
                        
                     </div>
                  </div>
                  <div class="clearfix"></div>
                  <div class="col-md-7">
                     <div class="alert alert-danger alert-dismissable" style="display: none;"></div>
                  </div>
                  <div class="form-group">
                     <div class="col-md-offset-3 col-md-4">
                        <button type="submit" class="btn btn-primary has-spinner btn-submit-exchain"  style="">
                         <span class="spinner"><i style="display: none;" class="fa fa-spinner fa-pulse"></i></span>
                         <confirm>Save</confirm>
                      </button>
                        <a class="btn btn-primary font-bold" href="/account/useraccount">Back to List</a>
                     </div>
                  </div>
               </div>
            </form>
         </div>
      </div>
   </div>
</section>