<div class="content">
   <div class="container-fluid">
      <div class="row">
        <h3 class="text-center">Comming Soon</h3>
        <div class="text-center" style="width: 353px;
    margin: 20px auto;">
          <div class="countdown">
              <div class="countdown-time">
                 <ul class="clearfix" id="js-countDownlending">
                        <li class="item"><i class="day">00</i><span>days</span></li>
                        <li class="blank">:</li>
                        <li class="item"><i class="hour">00</i><span>hours</span></li>
                        <li class="blank">:</li>
                        <li class="item"><i class="minute">00</i><span>minutes</span></li>
                        <li class="blank">:</li>
                        <li class="item"><i class="second">00</i><span>seconds</span></li>
                        <li class="blank">:</li>
                        <li class="item"><i class="ms">00</i><span>milliseconds</span></li>
                    </ul>
              </div>
           </div>
        </div>
      </div>
   </div>
</div>
