<!DOCTYPE html>
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>

    <meta charset="utf-8">

    <title>Adafxpro</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    
    <link rel="apple-touch-icon" sizes="180x180" href="/img/logo.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/logo.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/logo.png">
    
    <meta name="msapplication-TileColor" content="#00a300">
    <meta name="theme-color" content="#ffffff">
    
    <link rel="stylesheet" href="/homepage/assets/css/normalize.css">
    <link rel="stylesheet" href="/homepage/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/homepage/assets/fonts/fonts.css">
    <link rel="stylesheet" href="/homepage/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/homepage/assets/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/homepage/assets/css/magnific-popup.css">
    <link rel="stylesheet" href="/homepage/assets/css/animate.min.css">
    <link rel="stylesheet" href="/homepage/assets/css/main.css">
    <link rel="stylesheet" href="/homepage/assets/css/media.css">

    

</head>

<body>
<header class="parallax-window header header1" data-parallax="scroll" data-image-src="/homepage/assets/img/headerbg.png">
    <div class="header__topInfo">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6">
                    <div class="header__contact">
                    
                        <a href="#">support@adafxpro.com</a>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <div class="header__menuBlock">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-2">
    <div class="header__logoBlock">
        <a href="/"><img src="/img/logo.png" width="50"></a>
    </div>
</div>
                <div class="col-xs-12 col-md-2">
                    <div class="header__time clearfix">
                        
                    </div>
                </div>
                <div class="col-xs-12 col-md-5">
                    <div class="header__menu clearfix">
                        <span class="glyphicon glyphicon-menu-hamburger mobIcon" aria-hidden="true"></span>
                        <ul class="header__menuList">
                            <li class="header__item active"><a href="/">Home</a></li>
                            <li class="header__item"><a href="#about_us">About</a></li>
                            
                            <li class="header__item"><a href="#program">Program</a></li>
                            
                            <li class="header__item"><a href="#faq">FAQ</a></li>
                            <li class="header__item"><a href="#support">Support</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xs-12 col-md-3">
                    <div class="headerLog clearfix">
                        <a href="/signin" class="headLog" style="background-image: url('/homepage/assets/img/login1.png');">Login</a>
                        <a href="/signup" class="headReg" style="background-image: url('/homepage/assets/img/register.png');">Register</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header__content">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="header__contentLeft">
                        <h1>We work reliably, honestly, professionally</h1>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header__bottom">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    
                </div>
            </div>
        </div>
    </div>
</header>

<main>
    <section class="foureasons" id="about_us">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="secHeadert2 text-center wow animated fadeIn">
                            <h2>About us<div class="secHeader__shadow">About us</div> </h2>
                        </div>
                    </div>
                    <div class="aboutSec clearfix">
                        <div class="col-xs-12 col-sm-6 col-md-4 aboutSec__left wow animated slideInLeft">
                            <img src="/homepage/assets/img/babout.png" class="img-responsive im0" alt="">
                           
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-8 aboutSec__right wow animated slideInRight">
                            <p>BitCoin is one of the top topics today and there is a good reason for it. The rapid rise in popularity has established it’s place as the leading cryptocurrency of our world. BitCoin offers features that no other payment option did before it. Decentralized and anonymous payment system powered by blockchain technology has a huge potential and that has been the main reason for us to develop our own application.</p>
                            <p>For years our team has been working on projects that take advantage of the possibilities offered by BitCoin. Finally we can present you our BitCoin trading bots named project “Crypto Whale”. Trading bots are sophisticated artificial intelligence algorithms that monitor the financial markets and look for opportunities to buy or sell assets in order to generate profit. </p>
                            <p>As of now we have four advanced trading bot units online. Each unit has a slightly distinct features that reflect in it’s trading patterns. This diversification guarantees that all possible trading actions are considered and analyzed by our bots resulting in the highest possible returns.</p>
                           
                        </div>
                    </div>
                </div>
            </div>
        </section>

    <section class="refSection" id="program">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="secHeader wow animated fadeIn">
                        <span class="text-center">
                        Referal Program
                        </span>
                    </div>
                    <div class="ref__left wow animated slideInLeft text-center">
                        <p>We offer a multi-level referral program with fixed commission bonus. <br> Your referral rates depends from your referrals levels. <br> Our three level referral program provides you <b>4%</b> commission from <b>first level</b> and <b>1%</b> from <b>second and third</b> level referrals. </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="FaqSection">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="secHeadert2 text-center wow animated fadeIn">
                        <h2>F.A.Q<div class="secHeader__shadow">F.A.Q</div> </h2>
                        <p>Here you can find answers to the most relevant questions concerning the work of our project</p>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="FaqTabs">
                        <!-- Nav tabs -->
                          <ul class="nav nav-tabs wow animated slideInLeft faqtabslist" role="tablist">
                            <li role="presentation" class="active"><a href="#registration" aria-controls="registration" role="tab" data-toggle="tab">registration</a></li>
                            <li role="presentation"><a href="#partners" aria-controls="partners" role="tab" data-toggle="tab">Finance</a></li>
                            <li role="presentation"><a href="#income" aria-controls="income" role="tab" data-toggle="tab">Withdrawal of funds</a></li>
                            <li role="presentation"><a href="#other" aria-controls="other" role="tab" data-toggle="tab">Other</a></li>
                          </ul>
                          <div class="tab-content wow animated slideInRight">
                              <div role="tabpanel" class="tab-pane fade in active" id="registration">
                                <div class="faqAcc">
                                    <div class="faqQuestion">
                                        <h3>Who can join the project? </h3>
                                    </div>
                                    <div class="faqAnswer">
                                        <p>Any adult citizen of any country can become a participant in the project.</p>
                                    </div>
                                </div>
                                <div class="faqAcc">
                                    <div class="faqQuestion">
                                        <h3>What do I need to register? Is the investor required to provide identity documents?</h3>
                                    </div>
                                    <div class="faqAnswer">
                                        <p>In the upper right corner click on the "Registration" button and fill in all the required fields in the appeared horse. You do not need to provide documents or special data for this.</p>
                                    </div>
                                </div>
                                <div class="faqAcc">
                                    <div class="faqQuestion">
                                        <h3>How many accounts can an investor register? </h3>
                                    </div>
                                    <div class="faqAnswer">
                                        <p>One investor can only register one account. If this rule is violated, all accounts will be blocked.</p>
                                    </div>
                                </div>
                                <div class="faqAcc">
                                    <div class="faqQuestion">
                                        <h3>How do I get to my account after registration?</h3>
                                    </div>
                                    <div class="faqAnswer">
                                        <p>Click the "Login" button in the upper right corner, before to the "Register" button and enter the login and password specified during registration.</p>
                                    </div>
                                </div>
                              </div>
                              <div role="tabpanel" class="tab-pane fade" id="partners">
                                <div class="faqAcc">
                                    <div class="faqQuestion">
                                        <h3>What is the rate of crypto currency in CRYPTO WHALE?</h3>
                                    </div>
                                    <div class="faqAnswer">
                                        <p>Fixed for BitCoin and Litecoin. Real for Ethereum, Bitcoin Cash and Dash.</p>
                                    </div>
                                </div>
                                <div class="faqAcc">
                                    <div class="faqQuestion">
                                        <h3>What is the minimum amount for the investment?</h3>
                                    </div>
                                    <div class="faqAnswer">
                                        <p>We offer to start with a small investment of $ 25.</p>
                                    </div>
                                </div>
                                <div class="faqAcc">
                                    <div class="faqQuestion">
                                        <h3>When can I get my money?</h3>
                                    </div>
                                    <div class="faqAnswer">
                                        <p>Your funds are part of a large investment pool. Accruals start immediately after making a deposit, but you can get your deposit at the end of the term. It is convenient to monitor the growth of your profits in your personal cabinet.</p>
                                    </div>
                                </div>
                                <div class="faqAcc">
                                    <div class="faqQuestion">
                                        <h3>Can I reinvest the earnings?</h3>
                                    </div>
                                    <div class="faqAnswer">
                                        <p>Yes, our system allows you to reinvest your funds.</p>
                                    </div>
                                </div>
                              </div>
                              <div role="tabpanel" class="tab-pane fade" id="income">
                                <div class="faqAcc">
                                    <div class="faqQuestion">
                                        <h3>How can I withdraw my funds?</h3>
                                    </div>
                                    <div class="faqAnswer">
                                        <p>All payments are made automatically. You just have to enter in your personal account and request for withdrawal. </p>
                                    </div>
                                </div>
                                <div class="faqAcc">
                                    <div class="faqQuestion">
                                        <h3>How much should be in my account for withdrawal?</h3>
                                    </div>
                                    <div class="faqAnswer">
                                        <p>0.5 USD / 0.0005 BTC / 0.005 LTC / 0.005 ETH / 0.0005 BCH / 0.005 DASH  </p>
                                    </div>
                                </div>
                                <div class="faqAcc">
                                    <div class="faqQuestion">
                                        <h3>Is there a maximum amount available for withdrawal or any restrictions?</h3>
                                    </div>
                                    <div class="faqAnswer">
                                        <p>No, our project does not set a maximum withdrawal amount.</p>
                                    </div>
                                </div>
                                <div class="faqAcc">
                                    <div class="faqQuestion">
                                        <h3>How quickly are payments made?</h3>
                                    </div>
                                    <div class="faqAnswer">
                                        <p>All payments are instant.</p>
                                    </div>
                                </div>
                              </div>
                              <div role="tabpanel" class="tab-pane fade" id="other">
                                <div class="faqAcc">
                                    <div class="faqQuestion">
                                        <h3>Can I become a member of an affiliate program?</h3>
                                    </div>
                                    <div class="faqAnswer">
                                        <p>Yes of course. Your individual link is formed during registration. You can find it in your personal cabinet in the account dashboard section.</p>
                                    </div>
                                </div>
                                <div class="faqAcc">
                                    <div class="faqQuestion">
                                        <h3>Where can I go if I lose my password from my personal account?</h3>
                                    </div>
                                    <div class="faqAnswer">
                                        <p>If you lost or forget the password from your personal cabinet, you can use a special form to restore it or contact customer support.</p>
                                    </div>
                                </div>
                                <div class="faqAcc">
                                    <div class="faqQuestion">
                                        <h3>How is my data protected on the site?</h3>
                                    </div>
                                    <div class="faqAnswer">
                                        <p>To protect personal data and secure functioning, SSL certificate is installed on the site. It guarantees the safe transfer of data between the browser and the server, ensuring the operation of the SSL-protocol, which sends all information in an encrypted form. In addition, such certificate is a verification of reliability of the company owning the site.</p>
                                    </div>
                                </div>
                                <div class="faqAcc">
                                    <div class="faqQuestion">
                                        <h3>What is a referral system?</h3>
                                    </div>
                                    <div class="faqAnswer">
                                        <p>Referral system is a system aimed at stimulating the activity of the platform clients in attracting new users. It allows the user to receive income from deposits of people registered at the invitation of this user. Such a user is called a partner. In order to profit from the invited people, it is enough for the partner to distribute his referral link; and when people follow it to go to the site and make a deposit, part of their deposit transfers to the partner as a referral reward.</p>
                                    </div>
                                </div>
                              </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="absect">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-3 fmargin">
                        <div class="fourItem wow animated fadeInRight" data-wow-delay="0.5s">
                            <div class="fourItem__image">
                                <img src="/homepage/assets/img/trading.png" alt="">
                            </div>
                            <div class="fourItem__text">
                                <h3>Advanced trading bots</h3>
                                <p>All trades are performed by one of our four advanced trading bot units. Each unit utilizes a slightly different trading strategy to achieve the best overall profit yield.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3 fmargin">
                        <div class="fourItem wow animated fadeInRight" data-wow-delay="1s">
                            <div class="fourItem__image">
                                <img src="/homepage/assets/img/touch.png" alt="" >
                            </div>
                            <div class="fourItem__text">
                                <h3>Simple and easy to use</h3>
                                <p>Participating in investment industry with our trading bots does not require any special knowledge. Our user friendly platform is easy and intuitive to use.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3 fmargin">
                        <div class="fourItem wow animated fadeInRight" data-wow-delay="1.5s">
                            <div class="fourItem__image">
                                <img src="/homepage/assets/img/withdraw247.png" alt="">
                            </div>
                            <div class="fourItem__text">
                                <h3>Withdraw anytime</h3>
                                <p>Stay in charge of your money. You have full control when it comes to withdrawals and initial deposit release. The system is ready to process your commands 24/7.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3 fmargin">
                        <div class="fourItem wow animated fadeInRight" data-wow-delay="2s">
                            <div class="fourItem__image">
                                <img src="/homepage/assets/img/secure.png" alt="">
                            </div>
                            <div class="fourItem__text">
                                <h3>Secured and anonymous</h3>
                                <p>Communications between you and our servers are always encrypted. All your actions are hidden from 3rd parties guaranteeing you full anonymity.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    <section class="howorks">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 wow animated fadeIn">
                    <div class="secHeader">
                        <span class="text-center">
                        How it works
                        </span>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="howorks__left wow animated fadeInLeft">
                         <div class="worksTab">
                            <!-- Nav tabs -->
                              <ul class="nav nav-tabs worksTabs" role="tablist">
                                <li role="presentation" class="active"><a href="/homepage/#step1" aria-controls="step1" role="tab" data-toggle="tab">step1</a></li>
                                <li role="presentation"><a href="/homepage/#step2" aria-controls="step2" role="tab" data-toggle="tab">step2</a></li>
                                <li role="presentation"><a href="/homepage/#step3" aria-controls="step3" role="tab" data-toggle="tab">step3</a></li>
                              </ul>

                              <!-- Tab panes -->
                              <div class="tab-content clearfix">
                                <div role="tabpanel clearfix" class="tab-pane fade in active" id="step1">
                                    <div class="tabImg">
                                        <img src="/homepage/assets/img/how.png" class="img-responsive" alt="">
                                    </div>
                                    <div class="tabText">
                                        <h3>Create Account</h3>
                                        <p>Create a simple and completely free account.</p>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="step2">
                                    <div class="tabImg">
                                        <img src="/homepage/assets/img/how.png" class="img-responsive" alt="">
                                    </div>
                                    <div class="tabText">
                                        <h3>Deposit </h3>
                                        <p>To play you need to have an account balance.</p>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="step3">
                                    <div class="tabImg">
                                        <img src="/homepage/assets/img/how.png" class="img-responsive" alt="">
                                    </div>
                                    <div class="tabText">
                                        <h3>Buy Sell</h3>
                                        <p>Buy or Sell options.</p>
                                    </div>
                                </div>
                              </div>
                         </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="howorks__right wow animated fadeInRight">
                        <p>Standard currency markets have been volatile but with the introduction of cryptocurrencys things are moving a lot faster and require state of the art technology to keep up with the changes. Our trading bots are constantly monitoring the exchange rates and make decisions to buy or sell based on their unique algorithm. Making thousands of actions every minute our trading units are able to produce stable income on hourly basis. </p>
                        <p>CRYPTO WHALE LIMITED is an opportunity for you to participate in this investment process and gain reliable earnings. Our investment process is very transparent and can be categorized in just 3 simple steps - put your coins to work!</p>
                    </div>
                </div>
            </div>
        </div>
    </section> 
</main>




<footer>
    <div class="footer__top wow animated slideInUp">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-2">
    <div class="header__logoBlock">
        <a href="/homepage/index.html">CRYPTO<br><span>WHALE LIMITED</span></a>
    </div>
</div>
                <div class="col-xs-12 col-sm-4 col-md-3 footer_Text">
                    <p>
                        <img src="/homepage/images/18.gif">
                        <img src="/homepage/images/43.gif">
                        <img src="/homepage/images/56.gif">
                        <img src="/homepage/images/48.gif"><br>
                        <img src="/homepage/images/68.gif">
                        <img src="/homepage/images/69.gif">
                        <img src="/homepage/images/77.gif">
                        <img src="/homepage/images/71.gif">
                    </p>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-7">
                    <div class="footer__menu clearfix">
                        <ul>
                            <li class="active"><a href="/homepage/indexbc14.html?a=home">Home</a></li>
                            <li><a href="/homepage/indexe47e.html?a=about">About</a></li>
                            <li><a href="/homepage/index38cd.html?a=faq">FAQ</a></li>
                            <li><a href="/homepage/indexd470.html?a=investors">For Investors</a></li>
                            <li><a href="/homepage/indexa972.html?a=rules">Rules</a></li>
                            <li><a href="/homepage/index15a0.html?a=support">Support</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer__bottom">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="footer_copy">
                        <p> &copy; 2018 Adafxpro </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>


<div id="gallery-1" class="hidden">
    <a href="/homepage/https://images.unsplash.com/photo-1462774603919-1d8087e62cad?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;s=0ebd884b4d6ac379f42146a2b26fbf2e">Image 1</a>
    <a href="/homepage/https://images.unsplash.com/photo-1460499593944-39e14f96a8c6?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;s=d8bc3d45d5eeaaf4f576665707f4fddb">Image 2</a>
    <a href="/homepage/https://images.unsplash.com/photo-1434434319959-1f886517e1fe?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;s=218dfdd2c0735dbd6ca0f718064a748b">Image 3</a>
    <a href="/homepage/https://images.unsplash.com/photo-1431576901776-e539bd916ba2?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;s=a0941b28175909ca62f096eb533b0c97">Image 4</a>
</div>
<!--[if lt IE 9]>
    <script src="/homepage//assets/libs/html5shiv/es5-shim.min.js"></script>
    <script src="/homepage//assets/libs/html5shiv/html5shiv.min.js"></script>
    <script src="/homepage//assets/libs/html5shiv/html5shiv-printshiv.min.js"></script>
    <script src="/homepage//assets/libs/respond/respond.min.js"></script>
    <![endif]-->

    <script src="/homepage/assets/js/jquery-1.11.2.min.js"></script>
    <script src="/homepage/assets/js/bootstrap.min.js"></script>
    <script src="/homepage/assets/js/owl.carousel.min.js"></script>
    <script src="/homepage/assets/js/jquery.matchHeight-min.js"></script>
    <script src="/homepage/assets/js/jquery.magnific-popup.min.js"></script>
    <script src="/homepage/assets/js/highcharts.js"></script>
    <script src="/homepage/assets/js/clipboard.min.js"></script>
    <script src="/homepage/assets/js/parallax.min.js"></script>
    <script src="/homepage/assets/js/wow.min.js"></script>
    <script src="/homepage/assets/js/main.js"></script>
    
    <script src="/homepage/global.js"></script>
    <script>
        $(function () {
            setInterval(function(){
                 moment.locale('en');
                var Russian = moment();

                var time = moment.tz("Europe/London").format('HH:mm:ss');
                var date = Russian.tz("Europe/London").format('D/MM'); 
                var day = Russian.tz("Europe/London").format('dddd'); 

        

                $('.currTime').text(time);
                $('.TimeMonth').text(date);
                $('.TimeDay').text(day);

            },100);
            
            
            $('#daily').val('0.53 $');
            $('#total').val('7.95 $');
            
            $('#amount').bind('keyup change', function(){
                var amount = $(this).val();
                if (amount > 24 && amount < 2501){
                    percent = 2.1;
                    daily = amount /100 * percent;
                    daily = daily.toFixed(2);
                    total = daily * 15;
                    total = total.toFixed(2);
                    $('#daily').val(daily + ' $');
                    $('#total').val(total + ' $');
                }else if (amount > 2500 && amount < 25001){
                    percent = 2.5;
                    daily = amount /100 * percent;
                    daily = daily.toFixed(2);
                    total = daily * 15;
                    total = total.toFixed(2);
                    $('#daily').val(daily + ' $');
                    $('#total').val(total + ' $');
                }else if (amount > 25000 && amount < 250001){
                    percent = 3.0;
                    daily = amount /100 * percent;
                    daily = daily.toFixed(2);
                    total = daily * 15;
                    total = total.toFixed(2);
                    $('#daily').val(daily + ' $');
                    $('#total').val(total + ' $');
                }
                
            });
        });
    </script>
    
</body>

</html>
