<!DOCTYPE html>
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>

    <meta charset="utf-8">

    <title>WaveTrade</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    
    <link rel="apple-touch-icon" sizes="180x180" href="/img/logo.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/logo.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/logo.png">
    
    <meta name="msapplication-TileColor" content="#00a300">
    <meta name="theme-color" content="#ffffff">
    
    <link rel="stylesheet" href="/homepage/assets/css/normalize.css">
    <link rel="stylesheet" href="/homepage/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/homepage/assets/fonts/fonts.css">
    <link rel="stylesheet" href="/homepage/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/homepage/assets/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/homepage/assets/css/magnific-popup.css">
    <link rel="stylesheet" href="/homepage/assets/css/animate.min.css">
    <link rel="stylesheet" href="/homepage/assets/css/main.css">
    <link rel="stylesheet" href="/homepage/assets/css/media.css">

   </head>
   <body>
   	<header class="header headernobg" style="position: absolute;">
    
    <div class="header__menuBlock">
        
    </div>
</header>

<script language=javascript>
function checkform() {
  if (document.mainform.username.value=='') {
    alert("Please type your username!");
    document.mainform.username.focus();
    return false;
  }
  if (document.mainform.password.value=='') {
    alert("Please type your password!");
    document.mainform.password.focus();
    return false;
  }
  return true;
}
</script>

<main>


   {{{ body }}}

</main>

<!-- <footer>
	
	<div class="footer__bottom">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<div class="footer_copy">
						<p> &copy; 2018 Adafxpro </p>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer> -->

    <script src="/homepage/assets/js/jquery-1.11.2.min.js"></script>
    <script src="/homepage/assets/js/bootstrap.min.js"></script>
    <script src="/homepage/assets/js/owl.carousel.min.js"></script>
    <script src="/homepage/assets/js/jquery.matchHeight-min.js"></script>
    <script src="/homepage/assets/js/jquery.magnific-popup.min.js"></script>
    <script src="/homepage/assets/js/highcharts.js"></script>
    <script src="/homepage/assets/js/clipboard.min.js"></script>
    <script src="/homepage/assets/js/parallax.min.js"></script>
    <script src="/homepage/assets/js/wow.min.js"></script>
    <script src="/homepage/assets/js/main.js"></script>
	
	<script src="/homepage/global.js"></script>
	
	<script src="/login/js/jquery.min.js"></script>
	<script src="/login/js/jquery.form.min.js"></script>
	<script src="/login/js/jquery.validate.min.js"></script>
	<script src='https://www.google.com/recaptcha/api.js'></script>
	<script src='/js/account.js'></script>
	<!-- <script src="/login/js/sweetalert2.min.js"></script> -->
	<script src="/homepage/notify.js"></script>
	<script type="text/javascript">
		
	</script>
</body>

</html>