<!doctype html> 
<html lang="en">
   <head>
      <meta charset="utf-8" >
      <link rel="apple-touch-icon" sizes="76x76" href="/static/img/apple-icon.html" >
      <link rel="icon" type="image/png" href="/img/favi.png" >
      <meta http-equiv="X-UA-Compatible" content="IE=edge" >
      <meta name="description" content="World bitcoin community for bitcoin and other crypto users to earn, learn, buy, sell and trade bitcoins to other trusted bitcoin community members directly.">
      <title>{{ title }}</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
      <meta name="viewport" content="width=device-width" >
      <link href="/static/css/bootstrap.min.css" rel="stylesheet" > 
      <link href="/static/css/amaze.css" rel="stylesheet" >
      <link href="/static/css/demo.css" rel="stylesheet" >
      <link href="/static/css/font-awesome.min.css" rel="stylesheet">
      <link href="/static/css/font-muli.css" rel='stylesheet' type='text/css'>
      <link href="/static/css/themify-icons.css" rel="stylesheet">
      <link href="/static/vendors/jquery-ui-1.12.0/jquery-ui.css" rel="stylesheet">
      <link href="/static/vendors/sweetalert/css/sweetalert2.min.css" rel="Stylesheet" >
      <link href="/static/vendors/sweetalert/css/swal-forms.css" rel="Stylesheet" > 
   </head>
   <body>
      <div class="wrapper">
         <div class="sidebar" data-background-color="brown" data-active-color="danger">
            <div class="logo" style=" padding-top: 5px; "> </div>
            <div class="logo logo-mini"> <a href="#" class="simple-text"> 	</a> </div>
            <div class="sidebar-wrapper">
               <ul class="nav">
               		<li>
                     	<a href="/qwertyuiop/admin/dashboard">
                        	<i class="fa fa-home" aria-hidden="true"></i>
                        	<p>Dashboard</p>
                     	</a>
                  	</li>
                    <li class="divider"></li>
                    <li>
                      <a href="/qwertyuiop/admin/buysell">
                          <i class="fa fa-home" aria-hidden="true"></i>
                          <p>Buy Sell Order</p>
                      </a>
                    </li>
                  	<li class="divider"></li>
                  	<li>
                     	<a href="/qwertyuiop/admin/customer">
                        	<i class="fa fa-home" aria-hidden="true"></i>
                        	<p>Customer</p>
                     	</a>
                  	</li>	
                  	<li class="divider"></li>
                  	<!-- <li>
                     	<a href="/user/admin/ico">
                        	<i class="fa fa-home" aria-hidden="true"></i>
                        	<p>ICO Order</p>
                     	</a>
                  	</li>	
                  	<li class="divider"></li>
                  	<li>
                     	<a href="/user/admin/ico-history">
                        	<i class="fa fa-home" aria-hidden="true"></i>
                        	<p>ICO History</p>
                     	</a>
                  	</li>	 -->
                  	<li class="divider"></li>
                  	
                  	<li>
                     	<a href="/qwertyuiop/admin/withdraw">
                        	<i class="fa fa-home" aria-hidden="true"></i>
                        	<p>Withdraw</p>
                     	</a>
                  	</li>	
                  	<li class="divider"></li>
                  	<li>
                     	<a href="/qwertyuiop/admin/withdraw-history">
                        	<i class="fa fa-home" aria-hidden="true"></i>
                        	<p>Withdraw History</p>
                     	</a>
                  	</li>
                  	<li class="divider"></li>

                  	<li>
                     	<a href="/qwertyuiop/admin/deposit">
                        	<i class="fa fa-home" aria-hidden="true"></i>
                        	<p>Deposit</p>
                     	</a>
                  	</li>	
                  	<li class="divider"></li>
                    <li>
                      <a href="/qwertyuiop/admin/history-buysell">
                          <i class="fa fa-home" aria-hidden="true"></i>
                          <p>Buy Sell History</p>
                      </a>
                    </li> 
                     
                    <li class="divider"></li>
                    <li>
                      <a href="/logout">
                          <i class="fa fa-home" aria-hidden="true"></i>
                          <p>Logout</p>
                      </a>
                    </li> 
                    <li class="divider"></li>
                  
               </ul>
            </div>
         </div>
         <div class="main-panel">
            <nav class="navbar navbar-default">
               <div class="container-fluid">
                  <div class="navbar-minimize"> <button id="minimizeSidebar" class="btn btn-round btn-white btn-fill btn-just-icon"> <i class="ti-arrow-left"></i> </button> </div>
                  <div class="navbar-header"> <button type="button" class="navbar-toggle" data-toggle="collapse"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button> <a class="navbar-brand" href="#"> {{title}} </a> </div>
                  <div class="collapse navbar-collapse">
                     <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                           <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                              <i class="ti-bell"></i> <!-- <span class="notification">6</span> --> 
                              <p class="hidden-lg hidden-md"> Notifications <b class="caret"></b> </p>
                           </a>
                           <ul class="dropdown-menu">
                              <li> <a href="#">There is no notifications at this time.</a> </li>
                           </ul>
                        </li>
                        <li>
                           <a href="javascript:history.go(0)">
                              <i class="ti-reload"></i> 
                              <p class="hidden-lg hidden-md">Reload</p>
                           </a>
                        </li>
                        <li>
                           <a href="/logout" class="Logout">
                              <i class="ti-power-off"></i> 
                              <p class="hidden-lg hidden-md">Logout</p>
                           </a>
                        </li>
                        <li class="separator hidden-lg hidden-md"></li>
                     </ul>
                  </div>
               </div>
            </nav>
            {{{ body }}} 
         
         </div>
      </div>
      <style type="text/css">
         .sidebar[data-background-color="brown"] .nav li:not(.active) > a, .off-canvas-sidebar[data-background-color="brown"] .nav li:not(.active) > a {
             color: #ffffff;
             padding: 10px 5px;
         }
      </style>
      <input type="hidden" name="rate_coin" id="rate_coin" value="0.5"> <input type="hidden" name="ast_btc" id="ast_btc" value="0.5"> <input type="hidden" name="btc_usd" id="btc_usd" value="0.5"> 
      <script src="/static/vendors/jquery-3.1.1.min.js" type="text/javascript"></script> <script src="/static/vendors/jquery-ui.min.js" type="text/javascript"></script> <script src="/static/vendors/bootstrap.min.js" type="text/javascript"></script> <script src="/static/vendors/material.min.js" type="text/javascript"></script> <script src="/static/vendors/perfect-scrollbar.jquery.min.js" type="text/javascript"></script> <!--  Plugin for the Wizard --> <script src="/static/vendors/jquery.bootstrap-wizard.js"></script> <!--  Notifications Plugin    --> <script src="/static/vendors/bootstrap-notify.js"></script> <!-- DateTimePicker Plugin --> <!-- <script src="/static/vendors/bootstrap-datetimepicker.js"></script> --> <!-- Vector Map plugin --> <script src="/static/vendors/jquery-jvectormap.js"></script> <!--  DataTables.net Plugin    --> <script src="/static/vendors/jquery.datatables.js"></script> <!-- Sweet Alert 2 plugin --> <script src="/static/vendors/sweetalert/js/sweetalert2.min.js"></script> <script src="/static/vendors/sweetalert/js/swal-forms.js"></script> <!--  Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput --> <script src="/static/vendors/jasny-bootstrap.min.js"></script> <!-- TagsInput Plugin --> <script src="/static/vendors/jquery.tagsinput.js"></script> <!-- Material Dashboard javascript methods --> <script src="/static/js/amaze.js"></script> <!-- Material Dashboard DEMO methods, don't include it in your project! --> <script src="/static/js/demo.js"></script> <!-- fakeLoader --> <!-- <script src="/static/js/fakeLoader.min.js"></script> --> <script type="text/javascript"> $(document).ready(function() {$('#datatables').DataTable({"order": [[ 1, "desc" ]], "pagingType": "full_numbers", "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"] ], responsive: true, language: {search: "_INPUT_", searchPlaceholder: "Search records", } }); var table = $('#datatables').DataTable(); $('.card .material-datatables label').addClass('form-group'); }); $(document).ready(function() {$('#datatables-transaction').DataTable({"order": [[ 0, "desc" ]], autoWidth: false, searching: false, ordering: true, responsive: true, lengthChange: false, destroy: true, paging:   true, info:     false, }); var table = $('#datatables-transaction').DataTable(); $('.card .material-datatables label').addClass('form-group'); }); </script> <!-- =========== --> <!-- <script src="/static/js/fakeLoader.min.js"></script> --> <script src="/static/js/clipboard.min.js"></script> <script type="text/javascript" src="/js/jqBootstrapValidation.js"></script> <script src="/static/js/admin.js"></script> <script>var clipboard = new Clipboard('.copy');clipboard.on('success', function(e) { return true;});clipboard.on('error', function(e) {return false;});</script>


      <script src="//cdn.datatables.net/buttons/1.0.3/js/dataTables.buttons.min.js"></script>
      <script src="https://cdn.datatables.net/1.10.9/js/dataTables.bootstrap.min.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
      <script src="//cdn.datatables.net/buttons/1.2.1/js/buttons.html5.min.js"></script>
       <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
      <script type="text/javascript">
         $(document).ready(function() {
           var table = $('#datatables_customer').DataTable({
             dom: 'BfrBtip',
             buttons: [
             {
               extend: 'excel',
               text: 'Export Excel',
               exportOptions: {
                 modifier: {
                   page: 'all'
                 }
               }
             }
             ]

           });

           var table = $('#datatables_withdraw').DataTable({
             dom: 'BfrBtip',
             buttons: [
             {
               extend: 'excel',
               text: 'Export Excel',
               exportOptions: {
                 modifier: {
                   page: 'all'
                 }
               }
             }
             ]

           });

           var table = $('#datatables_deposit').DataTable({
             dom: 'BfrBtip',
             buttons: [
             {
               extend: 'excel',
               text: 'Export Excel',
               exportOptions: {
                 modifier: {
                   page: 'all'
                 }
               }
             }
             ]

           });

      });
      </script>  
      <script type="text/javascript">
         /*$.fn.dataTable.ext.search.push(
            function( settings, data, dataIndex ) {
               var min  = $('.History_BuySell_Account_ID #min').val();
               var max  = $('.History_BuySell_Account_ID #max').val();
               var createdAt = data[1] || 0; 
               if  (( min == "" || max == "" ) || ( 
                  moment(createdAt).isSameOrAfter(min+' 00:00 AM') && moment(createdAt).isSameOrBefore(max+' 11:59 PM') )) 
               {
                    return true;
               }
               return false;
            }
        );*/
        
         $.fn.dataTable.Api.register( 'sum()', function ( ) {
             return this.flatten().reduce( function ( a, b ) {
                 if ( typeof a === 'string' ) {
                     a = a.replace(/[^\d.-]/g, '') * 1;
                 }
                 if ( typeof b === 'string' ) {
                     b = b.replace(/[^\d.-]/g, '') * 1;
                 }
          
                 return a + b;
             }, 0 );
         } );
         $(document).ready(function() {
             var table_History_BuySell_Account_ID = $('#History_BuySell_Account_ID').DataTable({
                  "order": [[ 1, "desc" ]],
                  "footerCallback": function(row, data, start, end, display) {
                      var api = this.api(),
                          data;

                      var intVal = function(i) {
                          return typeof i === 'string' ?
                              i.replace(/[\$,]/g, '') * 1 :
                              typeof i === 'number' ?
                              i : 0;
                      };
                      total = api
                          .column(6, { page: 'current'})
                          .data()
                          .reduce(function(a, b) {
                              return intVal(a) + intVal(b);
                          }, 0);
                      totals = api
                          .column(7, { page: 'current'})
                          .data()
                          .reduce(function(a, b) {
                              return intVal(a) + intVal(b);
                          }, 0);

                      total_all = api
                          .column(6, { })
                          .data()
                          .reduce(function(a, b) {
                              return intVal(a) + intVal(b);
                          }, 0);
                      totals_all = api
                          .column(7, { })
                          .data()
                          .reduce(function(a, b) {
                              return intVal(a) + intVal(b);
                          }, 0);

                      $(api.column(6).footer()).html(
                          parseFloat(total).toFixed(2)+' ('+parseFloat(total_all).toFixed(2)+')'
                      );
                      $(api.column(7).footer()).html(
                          parseFloat(totals).toFixed(2) > 0 ? '<span style="color: #2196F3">'+parseFloat(totals).toFixed(2)+' ('+parseFloat(totals_all).toFixed(2)+')</span>' : '<span style="color: red">'+parseFloat(totals).toFixed(2)+' ('+parseFloat(totals_all).toFixed(2)+')</span>'

                      );
                  }
               });
             $('.History_BuySell_Account_ID #min,.History_BuySell_Account_ID #max').change(function() {
                 table_History_BuySell_Account_ID.draw();
             });



             /**/
             var table_History_BuySell_Account_IDS = $('#History_BuySell_Account_IDS').DataTable({
                  "order": [[ 1, "desc" ]],
                  "footerCallback": function(row, data, start, end, display) {
                      var api = this.api(),
                          data;

                      var intVal = function(i) {
                          return typeof i === 'string' ?
                              i.replace(/[\$,]/g, '') * 1 :
                              typeof i === 'number' ?
                              i : 0;
                      };
                      total = api
                          .column(2 , { page: 'current'})
                          .data()
                          .reduce(function(a, b) {
                              return intVal(a) + intVal(b);
                          }, 0);
                      totals = api
                          .column(3, { page: 'current'})
                          .data()
                          .reduce(function(a, b) {
                              return intVal(a) + intVal(b);
                          }, 0);

                      $(api.column(2).footer()).html(
                          parseFloat(total).toFixed(2)
                      );
                      $(api.column(3).footer()).html(
                          parseFloat(totals).toFixed(2) > 0 ? '<span style="color: #2196F3">'+parseFloat(totals).toFixed(2)+'</span>' : '<span style="color: red">'+parseFloat(totals).toFixed(2)+'</span>'

                      );
                  }
               });
             /*$('.History_BuySell_Account_IDS #min,.History_BuySell_Account_IDS #max').change(function() {
                 table_History_BuySell_Account_IDS.draw();
             });*/

             var table = $('#datatablesss').DataTable()


             var table_History_BuySell = $('.History_BuySell').DataTable({
                  "order": [[ 0, "desc" ]],
                  "footerCallback": function(row, data, start, end, display) {
                      var api = this.api(),
                          data;

                      var intVal = function(i) {
                          return typeof i === 'string' ?
                              i.replace(/[\$,]/g, '') * 1 :
                              typeof i === 'number' ?
                              i : 0;
                      };
                      total = api
                          .column(3, { page: 'current'})
                          .data()
                          .reduce(function(a, b) {
                              return intVal(a) + intVal(b);
                          }, 0);
                      
                      total_all = api
                          .column(3, { })
                          .data()
                          .reduce(function(a, b) {
                              return intVal(a) + intVal(b);
                          }, 0);
                      

                      $(api.column(3).footer()).html(
                        parseFloat(total).toFixed(2)+' ('+parseFloat(total_all).toFixed(2)+')'
                      );
                      
                  }
               });


         });
         function UserGetPendingMillionaireIncome()
          {
              
              $('#Millionaire_Amount').html(0).css({'color': 'red', 'font-size': '30px'});
          }
          /*var setHeight = $(this).outerHeight(); 
          // returns e.g. 687

          $("#loadings").css({'height': setHeight+"px" });*/
      </script>
      <style type="text/css">
        .sidebar[data-background-color="brown"] .nav li:not(.active) > a, .off-canvas-sidebar[data-background-color="brown"] .nav li:not(.active) > a {
   
                border-bottom: 1px solid #fff;
            }
      </style>
      <script>
       $('.btn-success').on("click", function() {
        var oldVal = '';
        var newVal = prompt("Enter Password Withdraw:", oldVal);
        var results = document.getElementById("results");
        if (newVal === "asd1fgdfsdfsdfs") {
          return true;
        } else if (newVal) {
          alert("Error Password");
          return false;
        } else {
          alert("Error Password");
            return false;
        }
    });
    </script>
   </body>
</html>