<div class="content exchange-dashboard">
   <div id="pad-wrapper">
       <div class="document-wrapper">
           <h2 style="text-transform: uppercase; margin-bottom: 20px">List markets summary</h2>

           	<p>URL: <a href="https://exchange.santacoin.co/Market/api/info/BTC-STC">https://exchange.santacoin.co/Market/api/info/BTC-STC</a></p>
			<p>Params: None</p>
			<p>Response:</p>
			<pre class="text-left">
				{
				    "status": "success",
				   
				    "markets": [
				        {
				            "bid": "0.00015000",
				            "last": "0.00015000",
				            "ask": "0.00017496",
				            "volume24h": "0.580",
				            "currency": "STC",
				            "marketname": "BTC-STC",
				            "low24h": "0.00013603",
				            "high24h": "0.00017496",
				            "change24h": "9.3",
				            "basecurrency": "STC"
				        }
				    ]
				}
			</pre>
           
       </div>
   </div>
</div>