<html>
   <head>
      <script type="text/javascript" src="/jqcandlestick/jquery.min.js"></script>
      <script src="/socket.io/socket.io.js"></script>
      <script src="/static/exchange/angular.js"></script>
      <script src="/static/exchange/ui-bootstrap-tpls-0.11.0.js"></script>
      <script src="/static/exchange/chart.js"></script>
      <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
      <script type="text/javascript">
      </script>
   </head>
   <body >
      <div ng-app="myApp">
        <div  ng-controller="CtrChart">  
          <input type="hidden" id="_EXCHANGE_" value="{{MarketName}}" name="">
          <div  id="chart_div" style="width: 100%; height: 230px;float: left;background-image: url(../../img/chart-bg.png);"></div>
        </div>
      </div>
   </body>
</html> 