<div class="content exchange-dashboard">
   <div id="pad-wrapper">
       <div class="document-wrapper">
           <h2 style="text-transform: uppercase">Santa Exchage service fees and withdrawal limitations</h2>

           <h4 style="text-transform: uppercase; margin-top: 40px;">Trading Commission</h4       >
           <hr>
           <p>All trades have a 0.25% commission.</p>

       </div>
   </div>
</div>