<section class="typePage">
   <div class="container">
      <div class="row">
         <div class="col-xs-12">
            <div class="typeBlock wow animated slideInLeft">
               <form class="pageLoginForm" id="frmAuthy" action="/SignIn" method="POST">
               <input type="hidden" name="form_id" value="15229341345895"><input type="hidden" name="form_token" value="0f3197b7ebb98f9d14875b0a76836b39">
                                 <input type=hidden name=a value='do_login'>
               <input type=hidden name=follow value=''>
               <input type=hidden name=follow_id value=''>
                  <h2 class="logHead">Login</h2>
                  <div class="form-group">
                     <input type="text" name=authenticator value='' placeholder="Login" class="logInput" autofocus="autofocus">
                  </div>
                
                  <input type="submit" value="ENTER" class="formSubmitButton">
                  <a class="text-center" href="/logout">Logout</a> 
               </form>
               
            </div>
         </div>
      </div>
   </div>
</section>
<!-- 
<div class="main authen-login">
   <div class="container">
      <div class="row row-content">
         <div class="pull-right p-15 text-mb">
            <p class="m-0">Don't have an account?</p>
            <p class="m-0 text-left"> <a class="ridect-signup" href="/free-registration.html">Create an account</a> </p>
         </div>
         <div class="col-md-5 hidden-xs hidden-sm">
            <p class="text-center"> <img src="img/login_bf.png"/> </p>
         </div>
         <div class="col-md-3 hidden-xs hidden-sm"> </div>
         <div class="col-md-4 col-xs-12 col-sm-7 login-page-right">
            <img src="/img/loading.gif"/>
            <div class="bg-while">
               <div class="row frm-login-header">
                  <div class="pull-left">
                     <h2 class="title-login m-0">INPUT YOUR AUTHENTICATOR CODE</h2>
                  </div>
               </div>
               <div class="row m-t-15">
                  <form id="frmAuthy" name="frmAuthy" autocomplete="off" onsubmit="return false;" method="post" novalidate>
                     <div class="floating-box red m-b-10 error-box errAuthy">Incorrect email or password</div>
                     <div class="form-group"> 
                        <input id="authenticator" name="authenticator" type="text" class="form-control" autocomplete="off"placeholder="Input your 6 digit authenticator code"/> 
                     </div>
                    <div id="recaptcha" class="m-b-15" style="display: none;"></div>
                     <div class="form-group"> 
                        <button class="btn btn-danger p-0 m-0" id="frmAuthySm" type="button" style=" width: 100%; float: left; height: 42px; "> SUBMIT </button> 
                     </div>
                  </form>
               </div>
               <div class="row frm-login-footer p-t-15"> 
                  <span class="pull-left"> 
                  <a class="fg-pword" href="/logout">Logout</a> 
                  </span>        
               </div>
            </div>
         </div>
      </div>
   </div>
</div> -->