<section class="typePage">
   <div class="container">
      <div class="row">
         <div class="col-md-4 col-md-push-4">
            <div class="typeBlock wow animated slideInLeft">
               <div class="text-center">
                  <img src="/img/logo-bt.png" height="90" style="margin-top: 20px;">
               </div>   
               <form class="pageLoginForm" id="frmAuthy" action="/Authy" method="POST" style="margin-top: 30px;">
                     <h2 class="text-center">Authenticator</h2>
                     <input type="text" class="code_authen logInput logPassword" id="authenticator" placeholder="Authenticator" name="authenticator" />
                     
                     <div class="capcha_google">
                        
                     </div>
                     <div class="login-bottom login-bottom1" style="margin-top: 15px;">
                        <div class="submit">
                           <input type="submit" class="formSubmitButton" value="Confirm"/>
                        </div>
                        <div class="clear"></div>
                     </div>
               </div>
               </form>
               
            </div>
         </div>
      </div>
   </div>
</section>
<!-- 
<div class="head logins_page">
   <div class="logo page_login">
      <a class="site_logo" href="/" id="logo-home">
         
         <img src="home/images/logo.png" alt="logo" class="img-responsive ">
         
      </a>
     
   </div>
   <div class="login">
      <div class="sap_tabs">
         <div id="horizontalTab" style="display: block; width: 100%; margin: 0px;">
            <h2 class="text-center">Authenticator</h2>
            <span class="pull-right create_account"></span>
            <div class="clearfix"></div>
            <div class="resp-tabs-container">
               <div class="">
                  <div class="login-top">
                     <form id="frmAuthy" action="/Authy" method="POST" style="margin-top: 30px;">
                        <input type="text" class="code_authen" id="authenticator" placeholder="Authenticator" name="authenticator" />
                        
                        <div class="capcha_google">
                           
                        </div>
                        <div class="login-bottom login-bottom1">
                           <div class="submit">
                              <input type="submit" value="Confirm"/>
                           </div>
                           <div class="clear"></div>
                        </div>
                  </div>
                  </form>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="clear"></div>
</div> -->
