<section class="typePage">
   <div class="container">
      <div class="row">
         <div class="col-md-4 col-md-push-4">
            <div class="typeBlock wow animated slideInLeft">
               <div class="text-center">
                  <img src="/img/logo-bt.png" height="90" style="margin-top: 20px;">
               </div>  
               <form class="pageLoginForm" id="frmForgotPass" action="/ForgotPassword" method="POST">
               <input type="hidden" name="form_id" value="15229341345895"><input type="hidden" name="form_token" value="0f3197b7ebb98f9d14875b0a76836b39">
                                 <input type=hidden name=a value='do_login'>
               <input type=hidden name=follow value=''>
               <input type=hidden name=follow_id value=''>
                  <h2 class="text-center">Forgot Password</h2>
                  <div class="form-group">
                     <input type="text" name=email value='' placeholder="Email" class="logInput" autofocus="autofocus">
                  </div>
                 
                  <div class="form-group captBlock">
                     <div class="capcha_google">
                           <div class="g-recaptcha" data-theme="light"  data-sitekey="6LcYb1MUAAAAAGoDN4LWwrXjj8yHa3gColQRPlGa" data-callback="onSubmit"></div>
                        </div>
                  </div>
                  <input type="submit" value="ENTER" class="formSubmitButton">
                  <p class="text-center"><a href="/signin">Login now? </a></p>
               </form>
               
            </div>
         </div>
      </div>
   </div>
</section>
<!-- <div class="head logins_page">
   <div class="logo page_login">
      <a class="site_logo" href="/" id="logo-home">
         
         <img src="home/images/logo.png" alt="logo" class="img-responsive ">
         
      </a>
      
   </div>
   <div class="login">
      <div class="sap_tabs">
         <div id="horizontalTab" style="display: block; width: 100%; margin: 0px;">
            <h2 class="text-center">Forgot Password</h2>
            <span class="pull-right create_account"></span>
            <div class="clearfix"></div>
            <div class="resp-tabs-container">
               <div class="">
                  <div class="login-top">
                     <form id="frmForgotPass" action="/ForgotPassword" method="POST">
                        <input type="text" class="email" placeholder="Email" name="email" />
                        
                        <div class="capcha_google">
                           <div class="g-recaptcha" data-theme="light" style="transform:scale(0.77);-webkit-transform:scale(0.77);transform-origin:0 0;-webkit-transform-origin:0 0;" data-sitekey="6LcYb1MUAAAAAGoDN4LWwrXjj8yHa3gColQRPlGa"></div>
                        </div>
                        <div class="login-bottom login-bottom1">
                           <div class="submit">
                              <input type="submit" value="Forgot Password"/>
                           </div>
                           <div class="clear"></div>
                        </div>
                  </div>
                  </form>
                  <p class="text-center forgotpass"> <a href="/signin">Login</a></p>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="clear"></div>
</div>
<div class="account text-center">
   <p>Do not have an account? <a href="/signup">Create Account</a></p>
   <div class="clear"></div>
</div> -->