
<div class="banner-section" style="min-height: 80px;"></div>
<div class="clear"></div>
<section id="services" >
   <div class="theme-heading">
      <h2 style="font-size: 30px">Frequently asked questions</h2>
      <span class="heading-circle"><i class="heading-pink-circle"></i></span>
   </div>
   <div class="container" id="about-us">
      <div class="row">
         <div class=" col-md-8">
            <div class="panel-group news-content-container" id="faqAccordion">
               <div class="panel-faq-title ">
                  <div class="panel-heading accordion-toggle question-toggle collapsed" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question0" aria-expanded="false">
                     <h4 class="panel-title"><span class="plus"><i class="fa fa-plus" aria-hidden="true"></i></span> Where is Bitbeeline from? </h4>
                  </div>
                  <div id="question0" class="panel-collapse collapse" style="height: 0px;" aria-expanded="false">
                     <div class="panel-body">
                        <p>Our development team, managers and consultants come from several countries, mainly from the US, many from Europe, Hong Kong, Singapore. We all together do our best to offer BBL users with highly advanced solution for money transaction and user-friendly apps</p>
                        <p>It would be more important to update latest information from us via your email</p>
                     </div>
                  </div>
               </div>
               
               <div class="panel-faq-title ">
                  <div class="panel-heading accordion-toggle question-toggle collapsed" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question2" aria-expanded="false">
                     <h4 class="panel-title"><span class="plus"><i class="fa fa-plus" aria-hidden="true"></i></span> Would Bitbeeline give financial support for leaders of BBL in each country? </h4>
                  </div>
                  <div id="question2" class="panel-collapse collapse" style="height: 0px;" aria-expanded="false">
                     <div class="panel-body">
                        <p>Bitbeeline have been established with a long term vision and objective desiring to build a good reputation in digital cash field. We hope that all BBL users and investors would convey an accurate, honest messages while building referrals and earning commissions with BBL.</p>
                        <p>We believe that&nbsp; individuals who trust and invest in BBL would gain a long term profit. You had better do right from the very beginning with Bitbeeline to be successful with BBL by delivering trustworthy and accurate information to potential down-lines.</p>
                        <p>We are looking for national leaders and multi-national leaders for Bitbeeline project. We are always willing to assist you: training information, marketing campaign, promotion campaign, events sponsorship...</p>
                     </div>
                  </div>
               </div>

               <div class="panel-faq-title ">
                  <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question1113" aria-expanded="false">
                     <h4 class="panel-title"><span class="plus"><i class="fa fa-plus" aria-hidden="true"></i></span> How ICO prices sell ?</h4>
                  </div>
                  <div id="question1113" class="panel-collapse collapse" style="height: 0px;" aria-expanded="false">
                     <div class="panel-body">
                        <p>
                           ICO is divided into 4 stages:
                        </p>
                        <p>- First: sell 420,000 BBL for $ 0.5</p>
                        <p>- Next: sell 360,000 BBL for $ 0.7</p>
                        <p>- Next: sell 300,000 BBL for $ 0.9</p>
                        <p>- Finally: sell 120,000 BBL for $ 1.2</p>
                     </div>
                  </div>
               </div>

               <div class="panel-faq-title ">
                  <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question3" aria-expanded="false">
                     <h4 class="panel-title"><span class="plus"><i class="fa fa-plus" aria-hidden="true"></i></span> What is the exact date and time of ICO? </h4>
                  </div>
                  <div id="question3" class="panel-collapse collapse" style="height: 0px;" aria-expanded="false">
                     <div class="panel-body">
                        <p>ICO time: November 15th - 00:00 UTC.</p>
                        <p>On our website, we provide you with a countdown timer. You should see the seconds tick down to ICO day, and when it counts down to 0, you can start buying token BBL.</p>
                     </div>
                  </div>
               </div>
               <div class="panel-faq-title ">
                  <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question4" aria-expanded="false">
                     <h4 class="panel-title"><span class="plus"><i class="fa fa-plus" aria-hidden="true"></i></span> How to buy BBL on ICO day? </h4>
                  </div>
                  <div id="question4" class="panel-collapse collapse" style="height: 0px;" aria-expanded="false">
                     <div class="panel-body">
                        <p>There are 3 steps that you should follow to buy BBL on ICO day: November 15th 2017</p>
                        <ul>
                           <li><strong>Step 1:</strong> Register for mebership at Bitbeeline.co <a href="https://bitbeeline.co/free-registration.html">https://bitbeeline.co/free-registration.html</a></li>
                           <li><strong>Step 2:</strong> Deposit Bitcoin (BTC) or BitcoinCash (BCH) into your Wallet on Bitbeeline.com <a href="https://bitbeeline.co/account-wallet.html">https://bitbeeline.co/account-wallet.html</a></li>
                           <li><strong>Step 3:</strong> Find ICO on Bitbeeline.co, click ICO then buy BBL <a href="https://bitbeeline.co/ico.html">https://bitbeeline.co/ico.html</a></li>
                        </ul>
                     </div>
                  </div>
               </div>
               <div class="panel-faq-title ">
                  <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question5" aria-expanded="false">
                     <h4 class="panel-title"><span class="plus"><i class="fa fa-plus" aria-hidden="true"></i></span> Is BBL token limited on ICO day? </h4>
                  </div>
                  <div id="question5" class="panel-collapse collapse" style="height: 0px;" aria-expanded="false">
                     <div class="panel-body">
                        <p>The quantity is limited for each purchase</p>
                        <p>So you should get ready any time so that you could buy as mBBL as you desire</p>
                        <p>The quantity of each purchase will be announced prior to each sale.</p>
                     </div>
                  </div>
               </div>
               <div class="panel-faq-title ">
                  <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question6" aria-expanded="false">
                     <h4 class="panel-title"><span class="plus"><i class="fa fa-plus" aria-hidden="true"></i></span> What is 5% referal bonus of ICO? </h4>
                  </div>
                  <div id="question6" class="panel-collapse collapse" style="height: 0px;" aria-expanded="false">
                     <div class="panel-body">
                        <p>Whether you can or cannot buy BBL during ICO time, you can be rest assured that you will still be able to earn 5% bonus under any circumstances. Let me specify for you by this example: A cannot buy BBL on ICO day, however A refer B, C or D to BBL, as long as B, C or D buy BBL, A is sure to get 5% bonus over the value of BBL that B, C or D buy in total</p>
                     </div>
                  </div>
               </div>
               <div class="panel-faq-title ">
                  <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question7" aria-expanded="false">
                     <h4 class="panel-title"><span class="plus"><i class="fa fa-plus" aria-hidden="true"></i></span> What about the price of BBL after ICO? </h4>
                  </div>
                  <div id="question7" class="panel-collapse collapse" style="height: 0px;" aria-expanded="false">
                     <div class="panel-body">
                        <p>The price of BBL is determined by the supply and demand of the market, not like several existing digital cash, the price is determined by the owner, we guarantee that BBL price will be determined by the market. As we strongly believe that with a long term vision and a professional system of Bitbeeline project, the price of BBL itself will increase by more than ten times after ICO and mBBL more in the near future.</p>
                        <p>You can be rest assured that no one but the market will determine the price of BBL, and what we do will gain the trust of community to use BBL, thereby the price will increase as a result.</p>
                     </div>
                  </div>
               </div>
               <div class="panel-faq-title ">
                  <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question8" aria-expanded="false">
                     <h4 class="panel-title"><span class="plus"><i class="fa fa-plus" aria-hidden="true"></i></span> Where to trade, buy and sell BBL after ICO? </h4>
                  </div>
                  <div id="question8" class="panel-collapse collapse" style="height: 0px;" aria-expanded="false">
                     <div class="panel-body">
                        <p>You can buy BBL only on ICO day: November 15 2017, after ICO program has ended you can buy or sell BBL on BBL exchange and other exchanges that we will list for you latter.</p>
                     </div>
                  </div>
               </div>
               <div class="panel-faq-title ">
                  <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question9" aria-expanded="false">
                     <h4 class="panel-title"><span class="plus"><i class="fa fa-plus" aria-hidden="true"></i></span> Can we deposit/withdraw BTC and BCH </h4>
                  </div>
                  <div id="question9" class="panel-collapse collapse" style="height: 0px;" aria-expanded="false">
                     <div class="panel-body">
                        <p>You can deposit and withdraw BTC or BCH whenever you desire.</p>
                     </div>
                  </div>
               </div>
               <div class="panel-faq-title ">
                  <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question10" aria-expanded="false">
                     <h4 class="panel-title"><span class="plus"><i class="fa fa-plus" aria-hidden="true"></i></span> Why did several members deposit BTC or BCH into their wallet, but the coins did not appear in the wallet? </h4>
                  </div>
                  <div id="question10" class="panel-collapse collapse" style="height: 0px;" aria-expanded="false">
                     <div class="panel-body">
                        <p>You must wait for at least one confirmation of the deposit transaction.</p>
                     </div>
                  </div>
               </div>
               <div class="panel-faq-title ">
                  <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question11" aria-expanded="false">
                     <h4 class="panel-title"><span class="plus"><i class="fa fa-plus" aria-hidden="true"></i></span> What if I make a deposit below the minimum amount? </h4>
                  </div>
                  <div id="question11" class="panel-collapse collapse" style="height: 0px;" aria-expanded="false">
                     <div class="panel-body">
                        <p>If so, the amount of BTC or BCH will not be added to your wallet. So you should be careful prior to depositing BTC or BCH into your wallet.</p>
                     </div>
                  </div>
               </div>
               <div class="panel-faq-title ">
                  <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question12" aria-expanded="false">
                     <h4 class="panel-title"><span class="plus"><i class="fa fa-plus" aria-hidden="true"></i></span> Can we withdraw BTC/BCH after depositing BTC/BCH into wallet at Bitbeeline.co? </h4>
                  </div>
                  <div id="question12" class="panel-collapse collapse" style="height: 0px;" aria-expanded="false">
                     <div class="panel-body">
                        <p>You can deposit and withdraw BTC or BCH whenever you desire.</p>
                     </div>
                  </div>
               </div>
               <div class="panel-faq-title ">
                  <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question13" aria-expanded="false">
                     <h4 class="panel-title"><span class="plus"><i class="fa fa-plus" aria-hidden="true"></i></span> I cannot deposit BTC into my wallet. What should I do </h4>
                  </div>
                  <div id="question13" class="panel-collapse collapse" style="height: 0px;" aria-expanded="false">
                     <div class="panel-body">
                        <p>You need a confirmation from Blockchain which enables you to deposit BTC into your wallet at Bitbeeline.co</p>
                     </div>
                  </div>
               </div>
            
               
               
               
               <div class="panel-faq-title ">
                  <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question18" aria-expanded="false">
                     <h4 class="panel-title"><span class="plus"><i class="fa fa-plus" aria-hidden="true"></i></span> Can I have more than one account on one computer? </h4>
                  </div>
                  <div id="question18" class="panel-collapse collapse" style="height: 0px;" aria-expanded="false">
                     <div class="panel-body">
                        <p>The answer is definitely yes. You can use different accounts on the same device/computer to sign up in Bitbeeline.co.</p>
                       
                     </div>
                  </div>
               </div>
               <div class="panel-faq-title ">
                  <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question19" aria-expanded="false">
                     <h4 class="panel-title"><span class="plus"><i class="fa fa-plus" aria-hidden="true"></i></span> Can I change my sponsor? </h4>
                  </div>
                  <div id="question19" class="panel-collapse collapse" style="height: 0px;" aria-expanded="false">
                     <div class="panel-body">
                        <p>No, you cannot change your sponsor. So prior to member registeration, you should be careful about your decision and choice of sponsor. You should choose a sponsor who are influential and creditable, who can help and support you to develop your community.</p>
                     </div>
                  </div>
               </div>
               <div class="panel-faq-title ">
                  <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question20" aria-expanded="false">
                     <h4 class="panel-title"><span class="plus"><i class="fa fa-plus" aria-hidden="true"></i></span> Where to update date and time of ICO? </h4>
                  </div>
                  <div id="question20" class="panel-collapse collapse" style="height: 0px;" aria-expanded="false">
                     <div class="panel-body">
                        <p>On our website, we provide you with a countdowntimer. You should see the seconds tick down to ICO day, and when it counts down to 0, you can start buying token BBL.</p>
                     </div>
                  </div>
               </div>
               <div class="panel-faq-title ">
                  <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question21" aria-expanded="false">
                     <h4 class="panel-title"><span class="plus"><i class="fa fa-plus" aria-hidden="true"></i></span> Can I transfer my BBL coin to others after ICO? </h4>
                  </div>
                  <div id="question21" class="panel-collapse collapse" style="height: 0px;" aria-expanded="false">
                     <div class="panel-body">
                        <p>Right after the first ICO on November 15th 2017, you can transfer your BBL coin to other members. And whenever you desire, you can transfer it to other memebers.</p>
                     </div>
                  </div>
               </div>
               <div class="panel-faq-title ">
                  <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question22" aria-expanded="false">
                     <h4 class="panel-title"><span class="plus"><i class="fa fa-plus" aria-hidden="true"></i></span> What about the profit of Lending package? </h4>
                  </div>
                  <div id="question22" class="panel-collapse collapse" style="height: 0px;" aria-expanded="false">
                     <div class="panel-body">
                        <p>Lending Profit is up to 42% per month</p>
                     </div>
                  </div>
               </div>
               <div class="panel-faq-title ">
                  <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question23" aria-expanded="false">
                     <h4 class="panel-title"><span class="plus"><i class="fa fa-plus" aria-hidden="true"></i></span> What should I do when I need your support? </h4>
                  </div>
                  <div id="question23" class="panel-collapse collapse" style="height: 0px;" aria-expanded="false">
                     <div class="panel-body">
                        <p>We are always available and accessible to support you at anytime you need us. Here is our support email address link:&nbsp;<a href="mailto:support@bitbeeline.co">support@bitbeeline.co</a></p>
                       
                     </div>
                  </div>
               </div>
               <div class="panel-faq-title ">
                  <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question24" aria-expanded="false">
                     <h4 class="panel-title"><span class="plus"><i class="fa fa-plus" aria-hidden="true"></i></span> Where to access futher of information of Bitbeeline? </h4>
                  </div>
                  <div id="question24" class="panel-collapse collapse" style="height: 0px;" aria-expanded="false">
                     <div class="panel-body">
                        <p>You can get more details by reading our white paper or Roadmap</p>
                        <p><a href="https://Bitbeeline.co">https://bitbeeline.co</a></p>
                     </div>
                  </div>
               </div>
               
               <div class="panel-faq-title ">
                  <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question26" aria-expanded="false">
                     <h4 class="panel-title"><span class="plus"><i class="fa fa-plus" aria-hidden="true"></i></span> Support information? </h4>
                  </div>
                  <div id="question26" class="panel-collapse collapse" style="height: 0px;" aria-expanded="false">
                     <div class="panel-body">
                        <p>You can visit our website for more details. All the information related to ICO, lending program, Roadmap and other essential information is fully updated on our website.</p>
                        <p><a href="https://Bitbeeline.co">https://bitbeeline.co</a></p>
                        <p>Feel free to contact us by email at anytime if you require any further information.</p>
                     </div>
                  </div>
               </div>
            </div>
            <!--/panel-group-->
         </div>

         <div class="col-md-4">
            <div class="news-content-container ">
               <h3 style="margin-top: 0">RECENT POSTS  </h3>
               <div class="div-new-post-cointainer">
                  <table class="table-new-news">
                     <tbody>
                        <tr>
                           <td class="td-image">
                              <a href="/news/bitcoin-reaches-end-of-an-era-expert-blog.html" class="img-new-news-thumbnail">
                                 <img src="/assets/img/new1.jpg">
                              </a>
                           </td>
                           <td class="td-content">
                              <div class="div-new-news-time">
                                 November 10, 2017
                              </div>
                              <div class="div-new-news-title">
                                 <a href="/news/bitcoin-reaches-end-of-an-era-expert-blog.html">Bitcoin Reaches End of An Era: Expert Blog</a>
                              </div>
                           </td>
                        </tr>
                     </tbody>
                  </table>
                  <div class="category-boder"></div>
                  <table class="table-new-news">
                     <tbody>
                        <tr>
                           <td class="td-image">
                              <a href="/news/max-keiser-saudi-arabias-bin-talal-is-bitcoin-poster-boy.html" class="img-new-news-thumbnail">
                                 <img src="/assets/img/new2.jpg">
                              </a>
                           </td>
                           <td class="td-content">
                              <div class="div-new-news-time">
                                 November 10, 2017
                              </div>
                              <div class="div-new-news-title">
                                 <a href="/news/max-keiser-saudi-arabias-bin-talal-is-bitcoin-poster-boy.html">Max Keiser: Saudi Arabia’s Bin Talal is Bitcoin ‘Poster Boy’</a>
                              </div>
                           </td>
                        </tr>
                     </tbody>
                  </table>
                  <div class="category-boder"></div>
                  <table class="table-new-news">
                     <tbody>
                        <tr>
                           <td class="td-image">
                              <a href="/news/segwit2x-is-dead-long-live-bitcoin-price-hits-all-time-high-as-hard-fork-canceled.html" class="img-new-news-thumbnail">
                                 <img src="/assets/img/new3.jpg">
                              </a>
                           </td>
                           <td class="td-content">
                              <div class="div-new-news-time">
                                 November 10, 2017
                              </div>
                              <div class="div-new-news-title">
                                 <a href="/news/segwit2x-is-dead-long-live-bitcoin-price-hits-all-time-high-as-hard-fork-canceled.html">SegWit2x Is Dead, Long Live Bitcoin! Price Hits All-Time High As Hard Fork Canceled</a>
                              </div>
                           </td>
                        </tr>
                     </tbody>
                  </table>
                 
               </div>
            </div>
         </div>


      </div>
   </div>
</section>
<div class="clear"></div>


